<!-- about_author_page.html -->

{% extends 'mainsite/../base/base.html' %}
{% block httpHead %}Welcome here{% endblock %}

{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                     <!-- title of about page -->
                    <h1 class="page-title">About Me</h1>
                    <!-- main content -->
                    <article class="post">
                        <div class="entry-content clearfix">
                            <!-- insert an image  -->
                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="img/me.jpg" alt="Developer Image">
                            </figure>
                            <!-- main text about author -->
                            <p>Hello!</p>
                            <p>Hello!</p>
                            <div class="height-40px">Test</div>
                            <!-- social network title-->
                            <h2 class="title text-center">Social</h2>
                            <!-- different social network -->
                            <ul class="social">
                                <!-- facebook -->
                                <li class="facebook">
                                    <a href="#"><span class="ion-social-facebook"></span>.</a>
                                </li>
                                <!-- twitter -->
                                <li class="twitter">
                                    <a href="#"><span class="ion-social-twitter"></span>.</a>
                                </li>
                                <!-- google -->
                                <li class="google-plus">
                                    <a href="#"><span class="ion-social-googleplus"></span>.</a>
                                </li>
                                <!-- tumblr -->
                                <li class="tumblr">
                                    <a href="#"><span class="ion-social-tumblr"></span>.</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                </main>
            </div>
        </div>
    </div>
{% endblock %}







