<div class="container">
    <header id="site-header">
        <div class="row">
            <!-- Title of navigation bar. col-md-4 -->
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="#"><b>Welcome</b> &amp; Here</a></h1>
                </div>
            </div>
            <!-- The other part of navigation bar. col-md-8-->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <!-- main body of navigation bar -->
                <nav class="main-nav" role="navigation">
                    <!-- navbar-header -->
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>
                    <!-- four options -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/" data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a href="/article/all/" data-hover="Articles">Articles</a></li>
                            <li class="cl-effect-11"><a href="/about/" data-hover="About">About</a></li>
                            <li class="cl-effect-11"><a href="/contact/" data-hover="Contact Author">Contact Author</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- search button -->
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

