<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="copyright">
                    Copyright&copy 2017
                    <a href="https://github.com/Liaoyjun/" target="_blank" title="LYJ"> lyj@gitHub</a>
                    |Powered by <a href="http://getbootstrap.com" target="_blank" title="Bootstrap">Bootstrap</a>
                </p>

                <p class="copyright">
                    <a href="#">Back to top</a>
                </p>

            </div>
        </div>
    </div>
</footer>