<!-- header html -->
{#{% load staticfiles %}#}

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/">Home</a>
            <a class="blog-nav-item" href="/article/all/">Articles</a>
{#          <a class="blog-nav-item" href="#">Press</a>#}
{#          <a class="blog-nav-item" href="#">New hires</a>#}
            <a class="blog-nav-item dropdown dropdown-toggle" href="#" data-toggle="dropdown">
                Categories<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/article/all/">All</a></li>
                <li class="divider"></li>
                <li><a href="/article/linux">Linux</a></li>
            </ul>
            <a class="blog-nav-item" href="/sitemap.xml">sitemap</a>
            <a class="blog-nav-item" href="/about/">About</a>
        </nav>
    </div>
</div>


{#<h1>Benvenuti alla piccola casa di zucca magica</h1>#}
{#<div class="well">#}
{#    <img src="{% static "mainsite/images/ra.jpg" %}">#}
{#</div> #}




