<!-- article_list.html -->

{% extends 'base/base.html' %}
{% load markdown_deux_tags %}
{% block httpHead %}Welcome here{% endblock %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">

                <!-- articles list -->
                <main class="col-md-8">
                    <!-- articles -->
                    {% for article in articles %}
                        <article class="post post-1">
                            <!-- article head info -->
                            {% include 'mainsite/article_list/article_list_head_info.html' %}

                            <div class="entry-content clearfix">
                                <!-- articles abstract -->
                                <!-- TODO(LYJ):add anstract -->
                                <p></p>
                                <!-- Read more -->
                                <div class="read-more cl-effect-14">
                                    <a href="#" class="more-link">
                                        Read more <span class="meta-nav"></span>
                                    </a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                    <!-- TODO(LYJ):pagination. -->
                    {% include 'mainsite/article_list/article_list_pagination.html' %}
                </main>

                <!-- TODO(LYJ): add sidebar -->
                <!-- sidebar -->
                <aside class="col-md-4">
                    {% include 'mainsite/article_list/article_list_sidebar.html' %}
                </aside>

            </div>
        </div>
    </div>
{% endblock %}