<!-- article_list.html -->
{% extends 'base/base.html' %}
{% load markdown_deux_tags %}
{% block httpHead %}Welcome here{% endblock %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">

                    {% include 'mainsite/article_list/list_main.html' %}
                    <!-- TODO(LYJ):pagination. -->
{#                    {% include 'mainsite/article_list/pagination.html' %}#}
                </main>
                <!-- TODO(LYJ) -->
                <aside class="col-md-4">
                    {% include 'mainsite/extended_component/category.html' %}
                </aside>
            </div>
        </div>
    </div>
{% endblock %}